/* Tiêu đề */
p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    color: #2c3e50;
  }
  
  /* Table */
  table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #fff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  /* Header */
  th {
    background: #000;
    color: #fff;
    font-weight: 600;
  }
  
  /* Hover */
  tbody tr:hover {
    background: #f5f5f5;
  }
  
  /* Ảnh */
  img {
    border-radius: 10px;
    object-fit: cover;
  }
  